html
  head
    script(src="script.js")
    link(href="style.css", rel="stylesheet")
  body
    #game
      #text

      #net
      #player0.player
      #player1.player

      #score0.score
      #score1.score

      #ball

    #options
      input#ai(type='checkbox')
      span play with AI
