$clr-gameBg: #000;

$clr-net: #fff;
$clr-ball: #f00;
$clr-score: #fff;
$clr-border: #fff;

#game {
  background: $clr-gameBg;
  position: relative;
  overflow: hidden;

  #text {
    padding: 0.5rem;
    color: $clr-score;
    font-size: 1.5rem;
    text-align: center;
  }

  #ball, .player {
    position: absolute;
    border-radius: 50%;
    border: 1px solid $clr-border;
  }

  #net {
    width:50%;
    height:100%;
    border-right: 1px dashed $clr-net;
  }

  #ball {
    background: $clr-ball;
  }

  .player {
    background: #ccc;
  }

  .score {
    position: absolute;
    top: 0;

    font-size: 2rem;
    color: $clr-score;
    padding: 1rem;

    &#score1 {
      right: 0;
    }
  }
}

#options {
  display: flex;
  align-items: center;

  margin: 1rem;
}
